__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
env/
.ipynb_checkpoints/
data/raw/
data/processed/
results/
logs/
.DS_Store
# Competition dataset and data files
competition_dataset/
*.npy
# Streamlit secrets (if needed later)
.streamlit/secrets.tomlSpX-DAC_gunnchOS3kMLV.csv
